<a href="https://colab.research.google.com/github/jaydenka75/114035109_Jayden-Khalifa_Midterm-Resume/blob/main/Copy_of_Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This is a comment
# Print a message to the screen

print("Hello, World!")
print("Welcome to Python programming")

Hello, World!
Welcome to Python programming

In [ ]:
# Variables
name = "Alice"
age = 20
height = 1.65
is_student = True

print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Student:", is_student)

# Check data types
print(type(name))
print(type(age))
print(type(height))
print(type(is_student))

Name: Alice
Age: 20
Height: 1.65
Student: True
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# Ask the user for input
name = input("Enter your name: ")
age = input("Enter your age: ")

print("Hello", name)
print("You are", age, "years old")

Enter your name: Jayden
Enter your age: 20
Hello Jayden
You are 20 years old

In [ ]:
a = 10
b = 3

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Modulus:", a % b)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Modulus: 1

In [ ]:
number = int(input("Enter a number: "))

if number > 0:
    print("The number is positive")
elif number < 0:
    print("The number is negative")
else:
    print("The number is zero")

Enter a number: 7
The number is positive

In [ ]:
# Print numbers from 1 to 5
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [ ]:
count = 1

while count <= 5:
    print("Count:", count)
    count += 1

Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [ ]:
fruits = ["apple", "banana", "orange"]

print(fruits)
print("First fruit:", fruits[0])

for fruit in fruits:
    print(fruit)

['apple', 'banana', 'orange']
First fruit: apple
apple
banana
orange

In [ ]:
def greet(name):
    print("Hello", name)

greet("John")
greet("Maria")

Hello John
Hello Maria

In [ ]:
# Create a function that adds two numbers
def add_numbers(a, b):
    return a + b

result = add_numbers(5, 7)
print("Result:", result)

Result: 12